
/* TOTAL-CSS */
@font-face {
    font-family: "Montserrat";
    font-style: normal;
    /* Браузер сначала попробует найти шрифт локально */
    src: local("Roboto"),
         /* Если не получилось, загрузит woff2 */
         url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;1,500;1,600&display=swap");
}
body {
    font-family: "Montserrat", sans-serif;
    background-color: #F9FFF2;
    margin: 0;
    padding: 0;
    width: 100%; 
    margin: auto;
}
h1{
    font-size: 64px;
    font-weight: 600;
}
h2{
    font-size: 48px;
    font-weight: 700;
    text-align: center;
}
h3{
    font-size: 24px;
    font-weight: 600;
}
h4{
    font-size: 20px;
    font-weight: 600;
}
.h4{
    font-size: 16px !important;
    font-weight: 500!important;
}
h5{
    font-size: 16px;
    font-weight: 400;
}
.h5{
    font-size: 20px !important;
    font-weight: 400!important;
}
.container {
    width: 90%;
    margin: auto;
}
* {
    padding: 0;
    margin: 0;
}
button {
    border: 0;
    background: none;
    cursor: pointer;
}

/* END-TOTAL-CSS */


/* HEADER */
.header {
    width:100%;
    position: absolute;
    background-color: #FFE8A8;
}
.header__wrapper {
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header__nuv {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 10%;
}
.header__logo {
    width: 30%;
}
.header__logo img {
    width: 191px;
    height: 49px;
}
.header__shop {
    width: 21px;
	height: 21px;
}
.header__lk {
    width: 21px;
	height: 21px;
}
.header__burger {
    width: 21px;
	height: 21px;
}

/* END-HEADER */


/* BANNER */

.banner {
    height: 100%;
}
img {
    width: 100%;
    object-fit: contain;
}
.banner {
    background-image: url('../img/Rectangle.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    height: 100vh;
    width: 100%;
}
.banner__wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -35%);
    text-align: center;
}
.banner__logo {
    height: 132px;
}
.banner__title {
    font-size: 64px;
    margin: 50px 0;
}
.banner__btn {
    background-color: #FFEBB6;
    border-radius: 50px;
    font-size: 20px;
    padding: 20px 60px;
    transition: all 0.5s ease;
}
.banner__btn:hover {
    background-color: #A62116;
    color: #FFF;
    transition: all 0.5s ease;
}

/* END-BANNER */

/* stages of work */
.stages__wrapper {
    margin-top: 160px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.stage{
    display: flex;
    justify-content: center;
    align-items: center;

}
.stages_text{
    margin-left: 10px;
}
.line1{
    position: absolute;
    bottom: -65px;
    left: 0px;
    width: 340px;
    height: 55px;
}
.line2{
    position: absolute;
    top: -70px;
    left: 350px;
    width: 380px;
    height: 55px;
}
.line3{
    position: absolute;
    bottom: -70px;
    left: 760px;
    width: 380px;
    height: 60px;
}
/* stages of work END */

/*calorie_passcount*/
form{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 44px;
}
.input_form{
    margin-top: 160px;
    border:1px solid black;
    border-radius: 10px;
    background-color: #EFFFEF;
    padding: 50px;
    text-align: center;
    
}
.left{
    text-align: start;
    width: 407px;
}
.left .gender .gender_choose{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-weight: 300!important;
    font-size: 20px !important;
    margin-top: 25px;
}
.left .gender_choose .woman{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
}
.left .gender_choose .human{
    display: flex;
    justify-content: center;
    align-items: center;
}
.left .gender_choose .human .checked{
    margin-right: 10px;
}
.left .gender_choose .woman .checked{
    margin-right: 10px;
}
.left .gender .h5{
    height: 20px;
}

.left .gender_choose .checked label{
	width: 25px;
	height: 25px;
	border-radius: 5px;
	border-width: 4px;
	background-color: #F9FFF2;
	border:1px solid black;
	display: inline-block;
	transition: all 0.2s linear;
}
.left .gender_choose .checked label img{
	display: block;
	opacity: 0;
	height: 20px;
	width: 20px;
	margin: 2px;
	transition: all 0.2s linear;
}
.left .gender_choose .checked input[type=checkbox]:checked+label img{
	opacity: 100%;
}
.left .gender_choose .checked input[type=checkbox]:checked+label{
	background-color: #000000;
}
.left .gender_choose .checked label:hover{
	background-color: lightgrey;
}
.left .gender_choose .checked input{
	opacity: 0;
	display: none;
}
.left .input{
    margin-top: 32px;
}
.left .input .calorie_passcount{
    font-size: 20px;
    height: 40px;
    width: 100%;
    background-color: transparent;
    border: none;
    border-bottom:1px solid #000000;
}
.left .input .calorie_passcount:focus{
    outline: 0;
    outline-offset: 0;
}
.right{            /* Правая часть*/
    width: 470px;
    text-align: start;
}
.right .input .calorie_passcount{        
    font-size: 20px;
    height: 40px;
    width: 100%;
    background-color: transparent;
    border: none;
    border-bottom:1px solid #000000;
}
.right .input .calorie_passcount:focus{
    outline: 0;
    outline-offset: 0;
}
.right .Target{
    margin-top: 32px;
}
.right .Target .buttons{
    margin-top: 25px;
}
.right .Target .buttons .btn{
    margin-right: 25px;
    width: 125px;
    height: 40px;
    border: 1px solid black;
    border-radius: 50px;
    color: black;
    font-weight: 800;
    
}.right .Target .buttons .btn:hover{
    background-color:#f7fef7;
}
.right .Target .buttons .btn:active{   /*JavaScript need*/
    background-color: #FFEBB6;
    border:none;
}
.right .Growth{
    margin-top: 32px;
}
.right .Growth .activity{
    margin-top: 25px;
    font-size: 20px;
    height: 40px;
    width: 100%;
    background-color: transparent;
    border: 1px solid #C0C0C0;
    border-radius: 50px;
    padding-left: 15px;
    position: relative;
    
}
.right .Growth .activity img{
    width: 20px;
    height: 20px;
    position: absolute;
    top: 12px;
    right: 20px;
   
}
.right .Growth .activity1{
    
    font-size: 20px;
    height: 40px;
    width: 100%;
    background-color: transparent;
    -moz-appearance: none;    /*убирает черточку которая открывает список*/
    -webkit-appearance: none;
    border: none;
    outline: none;
}
.input_form .btn1{
    width: 200px;
    height: 50px;
    border-radius: 50px;
    text-align: center;
    font-weight: 800;
    font-size: 16px;
    margin-top: 31px;
    background-color: #FFEBB6;
}
.input_form .btn1:hover{
    background-color: #fff2ce;
}
.input_form .btn1:active{
    background-color: #FFEBB6;
}
/*calorie_passcount END*/

/*calorie_passcount*/
.Payment_and_delivery{
    margin-top: 160px;
    
}
.Payment_and_delivery .info_box{
    margin-top: 52px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.Payment_and_delivery .info_box .box{
    width: 363px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Payment_and_delivery .info_box .box img{
    width: 75px;
    height: 75px;
    margin-right: 32px;
}
.Payment_and_delivery .info_box .box .text .title{
    font-weight: 900;
    
}
.Payment_and_delivery .info_box .box .text p{
    margin-top: 8px;
    font-weight: 400;
    width: 250px;
}